# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages in Data Science
- List of commonly used libraries used in data science
- List of data science tools
- Arithmatic expression in pyhon

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. Scala
4. Java
5. JavaScripts
6. C++
7. Julia
8. C
9. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. PyTorch
6. Seaborn
7. ggplot2

|Data Science Tools|
--------------------
|Apache Spark|
|Julia|
|Jupyter Notebook|
|TensorFlow|
|Apache Hadoop|
|Keras|
|MongoDB|
|Tableau|

#### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [6]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Mr. ABC